/* Ini CSS */
.logo-icon{
    height: 48px;
    width: 48px;
    background-image: url(https://cdn.dribbble.com/userupload/11764588/file/original-4165ef475e94ba4104940d4cdab8f760.png?resize=400x300&vertical=center);
    background-size: cover;
    border-radius: 50%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 47, 151);
}
.nav-item{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
    background-color: aqua;
}
.nav-container {
    display: flex;
    margin: 10px;
    gap: 15px;
    
}
.opp {
    border: 1px solid;
    height: 300px;
    background-position: center;
}
.ok {
    height: 100px;
    text-align: -webkit-center;
}
.pl {
    border: 1px solid;
    height: 50px;
    background-image: url(https://img-14.stickers.cloud/packs/d44c5b37-35ac-465d-8702-9249c13316f8/webp/adc3840c-4131-4e88-a8df-b0955dae444a.webp);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    width: 50px;
}
.atur{
    display: flex;
    justify-content: space-between;
    
}
.lo{
    padding-bottom: 400px;
}
footer {
    text-align: right;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
    font-size: 15px;
  
}
#kuy {
    padding-bottom: 200px;
    border: 1px solid;
    width: 200px;
    height: 100px;
    border-radius: 20px;
}
textarea {
    width: 100px;
}
button {
    background-color: rgb(6, 161, 228);
    border: none;
}